*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;


}

html {
    font-size: 62.5%;


}

body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 3.6rem 0;

}

::selection {
    background-color: orangered;
    color: white;

}